@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Space+Mono&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theory: #497587;
  --methodology: #864DE4;
  --principle: #697532;
  --background-color: #FEFAF6;
  --text-color: #181E32;
  --white-color: #FCFEFE;
  --font-family-sans: 'Robot Mono', sans-serif;
  --font-family-serif: 'Robot Mono', serif;
}

body {
  width: 100%;
  font-family: var(--font-family-sans);
  background-color: var(--background-color);
}

.icon {
  max-height: none;
  width: auto;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8125rem;
}

h4 {
  font-size: 1.625rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

.button-link,
.carousel-preview,
.logo a,
button,
label {
  cursor: pointer
}

.button-link,
.button-outline,
.button-primary,
.button-secondary {
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  border: none;
  padding: .625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a .button-link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.link {
  display: flex;
  gap: 0.5rem;
}

.link a {
  text-decoration: none;
  color: #181E32;
}

/* nav base */
nav {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  color: var(--text-color);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  z-index: 1000;
}

nav .mobile-gutter {
  display: none;
}

nav .desktop-gutter {
  display: flex;
}

.logotype a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

.nav {
  width: 100%;
  display: flex;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}


/* Add a separator between breadcrumb items */
.breadcrumb li+li:before {
  margin: 0 5;
}


/* responsive navbar */
@media (max-width: 480px) {

  * {
    font-size: 14px;
  }

  nav {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    color: var(--text-color);
    display: flex;
    padding: 1rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    z-index: 1000;
  }

  nav .mobile-gutter {
    display: flex;
  }

  .mobile-gutter .button-link {
    padding: .625rem 1.5rem;
    ;
    border-color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
  }

  .hidden-checkbox {
    display: none
  }

  nav .desktop-gutter {
    display: none;
  }

  #nav-toggle:checked+label+.nav .nav-list {
    right: 0
  }

  .input-hidden {
    border: none;
    padding: 0%;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    padding: 0.75rem 0.5rem;
    position: relative;
    gap: 0.5rem;
    justify-content: left;
    align-items: stretch;
    align-self: stretch;
    border-radius: 0%;
    border: 1px solid var(--text-color);
    background: var(--white-color);
    border-radius: 16px;
  }

  .input-wrapper input {
    width: 100%;
    padding-right: 30px;
    /* Space for the icon */
  }

  .input-wrapper input:focus {
    border: none;
    outline: none;
  }

  .nav .nav-list {
    margin: 0;
    padding: 1rem 1rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    /* justify-content: flex-end; */
    z-index: 1;
    top: 0;
    right: -100%;
    background: var(--background-color);
    transition: right 444ms ease-out;
    height: 100vh;
    overflow-y: auto
  }

  .nav-list ul {
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  .nav-list li {
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0.75rem 0rem;
  }

  .nav-list li a {
    width: 100%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
  }

  .nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in;
    pointer-events: none
  }

  #nav-toggle:checked+label+.nav::before {
    opacity: 1
  }

  #nav-toggle:checked+label+.nav .nav-list {
    right: 0;
    /* Slide in to be fully visible */
  }
}

main {
  height: 100%;
  margin-top: 4.75rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4375rem;
}