@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Space+Mono&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theory: #497587;
  --methodology: #864DE4;
  --principle: #697532;
  --background-color: #FEFAF6;
  --text-color: #181E32;
  --white-color: #FCFEFE;
  --font-family-sans: 'Robot Mono', sans-serif;
  --font-family-serif: 'Robot Mono', serif;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--background-color)
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
}

p {
  font-family: var(--font-family-sans);
}

.button-link,
.carousel-preview,
.logo a,
button,
label {
  cursor: pointer
}

.button-link,
.button-outline,
.button-primary,
.button-secondary {
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  border: none;
  padding: .625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


/* nav base */
nav {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  color: var(--text-color);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  z-index: 1000;
}

nav .mobile-gutter {
  display: none;
}

nav .desktop-gutter {
  display: flex;
}

.logotype a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

.nav {
  width: 100%;
  display: flex;
}

/* responsive navbar */
@media (max-width: 480px) {
  nav {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    color: var(--text-color);
    display: flex;
    padding: 1rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    z-index: 1000;
  }

  nav .mobile-gutter {
    display: flex;
  }

  .mobile-gutter .button-link {
    padding: .625rem 1.5rem;
    ;
    border-color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
  }

  .hidden-checkbox {
    display: none
  }

  nav .desktop-gutter {
    display: none;
  }

  #nav-toggle:checked+label+.nav .nav-list {
    right: 0
  }

  .nav .nav-list {
    margin: 0;
    padding: 1rem 1rem;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    /* justify-content: flex-end; */
    z-index: 1;
    top: 0;
    right: -100%;
    background: var(--background-color);
    transition: right 444ms ease-out;
    height: 100vh;
    overflow-y: auto
  }

  .nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in;
    pointer-events: none
  }

  #nav-toggle:checked+label+.nav::before {
    opacity: 1
  }

  #nav-toggle:checked+label+.nav .nav-list {
    right: 0;
    /* Slide in to be fully visible */
  }
}
}