@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

:root {
  --theory: #497587;
  --methodology: #864DE4;
  --principle: #697532;
  --background-color: #FEFAF6;
  --text-color: #181E32;
  --white-color: #FCFEFE;
  --font-family-sans: 'Roboto Mono', sans-serif;
}

body {
  width: 100%;
  /* font-family: var(--font-family-sans); */
  background-color: var(--background-color);
}

.icon {
  height: 100%;
  /* Scale to the height of the parent */
  width: auto;
  /* Maintain aspect ratio */
  max-height: 100%;
  /* Ensure it doesn't exceed the parent's height */
  object-fit: contain;
  /* This ensures the image is scaled correctly within the bounds */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-sans);
  letter-spacing: -0.4px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8125rem;
}

h4 {
  font-size: 1.625rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 0;
  font-size: 1rem;
}

.button-link,
.carousel-preview,
.logo a,
button,
label {
  cursor: pointer;
}

.button-link,
.button-outline,
.button-primary,
.button-secondary {
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  border: none;
  padding: .625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.link {
  display: flex;
  gap: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  z-index: 1000;
}

nav .mobile-gutter {
  display: none;
}

nav .desktop-gutter {
  display: flex;
}

.logotype a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

.nav {
  width: 100%;
  display: flex;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li+li:before {
  margin: 0 5px;
}

/* Responsive navbar */
@media (max-width: 480px) {
  * {
    font-size: 14px;
  }

  .header {
    padding: 1rem 0.75rem;
  }

  .header .mobile-gutter {
    display: flex;
  }

  .mobile-gutter .button-link {
    padding: .625rem 1.5rem;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
  }

  .hidden-checkbox {
    display: none;
  }

  .header .desktop-gutter {
    display: none;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    padding: 0.75rem 0.5rem;
    gap: 0.5rem;
    border: 1px solid var(--text-color);
    background: var(--white-color);
    border-radius: 16px;
  }

  .input-wrapper input {
    width: 100%;
    padding-right: 30px;
    /* Space for the icon */
    border: none;
    outline: none;
  }

  .nav .nav-list {
    display: flex;
    margin: 0;
    padding: 1rem;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -100%;
    background: var(--background-color);
    transition: right 444ms ease-out;
    height: 100vh;
    overflow-y: auto;
  }

  .nav-list li {
    font-size: 1.25rem;
    padding: 0.75rem 0;
  }

  .nav-list li a {
    width: 100%;
    display: flex;
  }

  .nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in;
    pointer-events: none;
  }

  #nav-toggle:checked+label+.nav::before {
    opacity: 1;
  }

  #nav-toggle:checked+label+.nav .nav-list {
    right: 0;
    /* Slide in to be fully visible */
  }
}

main {
  margin-top: 4.75rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4375rem;
}