:root {
  --theory: #497587;
  --methodology: #864DE4;
  --principle: #697532;
  --background-color: #FEFAF6;
  --text-color: #181E32;
  --white-color: #FCFEFE;
  --font-family-sans: 'Roboto Mono', sans-serif;
  --font-family-serif: 'Roboto Mono', serif;
}

main {
  padding: 1rem;
}

.tile-grid {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 1rem;
  margin: 0;
}

.tile {
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  gap: 8rem;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  padding: 1.5rem;
  background-color: var(--white-color);
}

.tile-card {
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  padding: 1.5rem;
  background-color: var(--white-color);
}

.tile#n1 {
  max-width: 400px;
}

#Principles {
  color: var(--principle);
}

#Theory {
  color: var(--theory);
}

#Methodologies {
  grid-column: 1 / -1;
  color: var(--methodology);
}

.tile-net {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  align-items: flex-start;
  gap: 1rem;
}

.articles {
  width: 75%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

@media (max-width: 480px) {
  .tile-grid {
    grid-template-columns: 1fr;
  }

  .articles {
    width: 100%;
  }

  .articles img {
    width: 100%;
  }
}